.chips {
  border: 1px solid var(--grey);
  padding: 3px;
  /* width: 100px; */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--gradient);
  border-radius: 20px;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  width: 100%;
}
