/* Parent View styles */
.parentview {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* Invitation Card styles */
.invitationcard {
    /* display: flex; */
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    border-radius: 7px;
    background: transparent;
    justify-content: space-between;
}

.invitationcard img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.studentinfo h2 {
    font-size: 15px;
    margin: 0;
    color: #333;
}

.heading {
    font-size: 16px;
}

.studentinfo p {
    margin: 5px 0;
    color: #666;
    font-size: 12px;
}

.actionbuttons {
    margin-left: auto;
}

.approvebutton,
.rejectbutton {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.approvebutton {
    background-color: #4caf50;
    color: #fff;
}

.rejectbutton {
    background-color: #f44336;
    color: #fff;
}

/* Empty state styles */
.parentview p {
    text-align: center;
    font-size: 16px;
    color: #777;
    margin-top: 20px;
}

/* Responsive styles (adjust as needed) */
@media screen and (max-width: 768px) {
    /* .invitationcard {} */

    .invitation-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .invitation-card img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .student-info h2 {
        font-size: 18px;
    }

    .student-info p {
        font-size: 14px;
    }

    .action-buttons {
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }
}